.yt {
    display: flex;
    flex-direction: row;
    position: absolute;
    /* width: 100%; */
    height: 20%;
    justify-content: center;
    z-index: 2;
}

.ytimg {
    position: relative;
    top: 0;
    left: 0;
    width: 5rem;
    height: 3rem;
}

.ytnapis {
    position: absolute;
    width: 100%;
    height: fit-content;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 200%;
    color: #ffffff;
    font-weight: bolder;
    margin: 2em;
}


@media screen and (max-width: 768px) {
    .yt{
        width: 100%;
        margin: 0;
    }

    .ytimg {
        width: 3rem;
        height: 2rem;
    }

    .ytnapis {
        font-size: 120%;
        margin: 1em;
        width: 100%;
        height: fit-content;
    }

}
