<nav class="navbar bg-dark navbar-expand-xl bg-body-tertiary" data-bs-theme="dark">
  <div class="container-fluid">

    <a class="navbar-brand" href="#">
      <img src="assets/images/logomin.jpg" alt="CodeMelodies Logo" class="d-inline-block align-text-top" width="250">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/youtube">YouTube</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/zdjecia">Zdjęcia</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/kontakt">Kontakt</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/publikacje">Publikacje</a>
        </li>
      </ul>
    </div>
  </div> 
</nav>