/* You can add global styles to this file, and also import other style files */
/* Resetowanie domyślnych marginesów i paddingów */
html, body, app-root {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Judson', serif;
}
 p, input{
    letter-spacing: 0.03em;
 }