.login-error {
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 160%;
    color: #AF1036;
    margin: 1.5em;
    font-weight: bolder;
    width: auto;
    height: auto;
}

@media screen and (max-width: 768px) {
    .login-error {
        font-size: 100%;
    }
  }