
<div class="komunikat">
    <p>Zaloguj się, aby uzyskać dostęp do materiałów</p>
</div>
<!-- Linia poniżej to miejsce na komunikat -->
<!-- <p class="error-message" *ngIf="login-error">Błędny login lub hasło</p> -->
<!-- <form (submit)="onSubmit()"> -->
<form>
    <div class="input-container">
        <input type="text" id="login" name="login" [(ngModel)]="name" placeholder="login" required>
    </div>

    <div class="input-container">
        <input type="password" id="password" [(ngModel)]="password" name="password" placeholder="hasło" required>
    </div>

    <div class="button-container">
        <input type="submit" value="zaloguj się">
        <input type="button" value="zarejestruj się" routerLink="/rejestracja">
    </div>
</form>
