div {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.tlo-container {
    top: 0; left: 0;
    background-color: #A7A7A7;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}